<h2 id="feedback-title">{{translate 'title'}}</h2>
<div id="feedback-overview">
    {{translate 'overview'}}
</div>
<div id="feedback-links">
    <div class="feedback-link">
        <a id="feedback-reportcontentlink" href="javascript:;" title="{{translate 'report_content_tooltip'}}">{{translate 'report'}}</a>
        <span class="feedback-shortdescription">{{translate 'short_content_description'}}</span>
    </div>
    <div class="feedback-link">
        <a id="feedback-reportfunctionalitylink" href="javascript:;" title="{{translate 'report_functionality_tooltip'}}">{{translate 'report'}}</a>
        <span class="feedback-shortdescription">{{translate 'short_functionality_description'}}</span>
    </div>
    <div class="feedback-link">
        <a id="feedback-suggestfeaturelink" href="{{featureSuggestionUrl}}" target="_blank" title="{{translate 'suggest_feature_tooltip'}}">{{translate 'suggest'}}</a>
        <span class="feedback-shortdescription">{{translate 'feature_description'}}</span>
    </div>
</div>
