<h2 id="feedback-title">{{translate 'title'}}</h2>
<div id="feedback-overview">
    {{translate 'overview'}}
</div>
<div id="feedback-links">
    <div class="feedback-link">
        <a id="feedback-reportcontentlink" href="javascript:;" title="{{translate 'reportcontenttooltip'}}">{{translate 'report'}}</a>
        <span class="feedback-shortdescription">{{translate 'shortcontentdescription'}}</span>
    </div>
    <div class="feedback-link">
        <a id="feedback-reportfunctionalitylink" href="javascript:;" title="{{translate 'reportfunctionalitytooltip'}}">{{translate 'report'}}</a>
        <span class="feedback-shortdescription">{{translate 'shortfunctionalitydescription'}}</span>
    </div>
    <div class="feedback-link">
        <a id="feedback-suggestfeaturelink" href="http://weblearn.uservoice.com" target="_blank" title="{{translate 'suggestfeaturetooltip'}}">{{translate 'suggest'}}</a>
        <span class="feedback-shortdescription">{{translate 'featuredescription'}}</span>
    </div>
</div>
