<h2 id="feedback-title">{{translate 'title'}}</h2>
<div id="feedback-overview" class="instruction">{{translate 'content_instruction'}}</div>
<form id="feedback-form" action="/direct/feedback/{{siteId}}/reportcontent" method="POST">
    <div id="feedback-siteupdaters-wrapper">
        <div id="feedback-siteupdater-instruction">{{translate 'siteupdater_instruction'}}</div>
        <select id="feedback-siteupdaters" name="alternativerecipient">
            {{#each siteUpdaters}}
            <option value="{{id}}">{{displayName}}</option>
            {{/each}}
        </select>
    </div>
    <div id="feedback-mandatory-instruction" class="instruction">{{translate 'mandatory_instruction'}}</div>
    <table id="feedback-field-table" cols="2">
        <tr><td id="feedback-title-label">{{translate 'title_label'}}</td><td id="feedback-title-field"><input type="text" name="title" maxlength="40"/></td></tr>
        <tr><td id="feedback-description-label">{{translate 'description_label'}}</td><td id="feedback-description-field"><textarea name="description"></textarea></td></tr>
    </table>
    <div id="feedback-attachments-label">
        <span>{{translate 'attachments_label'}}</span>
        <span id="feedback-max-attachments-label">
            <span id="feedback-max-attachments-mb"></span>
            <span id="feedback-attachments-max-suffix">{{translate 'attachments_max_suffix'}}</span>
        </span>
    </div>
    <input id="feedback-attachment" name="attachment" type="file" class="multi"/><br clear="all"/>
    <input id="feedback-submit-button" type="submit" value="{{translate 'submit_label'}}" />
</form>
