<h2 id="feedback-title">{{translate 'title'}}</h2>
<div id="feedback-overview" class="instruction">{{translate 'technical_instruction'}}</div>
<form id="feedback-form" action="/direct/feedback/{{siteId}}/reporttechnical" method="POST">
    <div id="feedback-mandatory-instruction" class="instruction">{{translate 'mandatory_instruction'}}</div>
    <table id="feedback-field-table" cols="2">
        <tr><td id="feedback-title-label">{{translate 'title_label'}}</td><td id="feedback-title-field"><input type="text" name="title" maxlength="40"/></td></tr>
        <tr><td id="feedback-description-label">{{translate 'description_label'}}</td><td id="feedback-description-field"><textarea name="description"></textarea></td></tr>
        <tr id="feedback-sender-address"><td>{{translate 'sender_address_label'}}</td><td><input type="text" name="senderaddress" /></td</tr>
    </table>
    <div id="feedback-recaptcha-wrapper">
        <div>Enter the text that you see in the box below:</div>
        <div id="feedback-recaptcha-block"></div>
    </div>
    <div id="feedback-attachments-label">
        <span>{{translate 'attachments_label'}}</span>
        <span id="feedback-max-attachments-label">
            <span id="feedback-max-attachments-mb"></span>
            <span id="feedback-attachments-max-suffix">{{translate 'attachments_max_suffix'}}</span>
        </span>
    </div>
    <input id="feedback-attachment" name="attachment" type="file" class="multi"/><br clear="all"/>
    <input id="feedback-submit-button" type="submit" value="{{translate 'submit_label'}}" />
</form>
