<h2 id="feedback-title">{{translate 'title'}}</h2>
<div id="feedback-overview">
    {{translate 'technical_instruction'}}
</div>
<form id="feedback-form" action="/direct/feedback/{{siteId}}/reporttechnical" method="POST">
    <input type="hidden" name="contactemail" value="{{contactEmail}}" />
    <div id="feedback-siteupdaters-wrapper">
        <select id="feedback-siteupdaters" name="alternativerecipient">
            {{#each siteUpdaters}}
            <option value="{{email}}">{{displayName}}</option>
            {{/each}}
        </select>
    </div>
    <table id="feedback-field-table" cols="2">
        <tr><td id="feedback-title-label">{{translate 'title_label'}}</td><td id="feedback-title-field"><input type="text" name="title" /></td></tr>
        <tr><td id="feedback-description-label">{{translate 'description_label'}}</td><td id="feedback-description-field"><textarea name="description"></textarea></td></tr>
    </table>
    <br />
    <span id="feedback-attachments-label">{{translate 'attachments_label'}}</span>
    <br />
    <input id="feedback-attachment" name="attachment" type="file" class="multi"/><br clear="all"/>
    <br />
    <input id="feedback-submit-button" type="submit" value="{{translate 'submit_label'}}" />
</form>
