<li id="feedback-homeitem" class="firstToolBarItem" role="menuitem"><span class="current"><a title="{{translate 'report_content_tooltip'}}" href="javascript:;">{{translate 'home_label'}}</a></span></li>
<li id="feedback-contentitem" role="menuitem"><span><a title="{{translate 'report_content_tooltip'}}" href="javascript:;">{{translate 'content_label'}}</a></span></li>
<li id="feedback-functionalityitem" role="menuitem"><span><a title="{{translate 'report_functionality_tooltip'}}" href="javascript:;">{{translate 'functionality_label'}}</a></span></li>
<li id="feedback-suggestfeatureitem" role="menuitem"><span><a title="{{translate 'suggest_feature_tooltip'}}" href="{{featureSuggestionUrl}}" target="_blank">{{translate 'suggest_feature_label'}}</a></span></li>
