<li id="feedback-home-item" class="firstToolBarItem" role="menuitem"><span class="current"><a title="{{translate 'report_content_tooltip'}}" href="javascript:;">{{translate 'home_label'}}</a></span></li>
{{#if loggedIn}}<li id="feedback-content-item" role="menuitem"><span><a title="{{translate 'report_content_tooltip'}}" href="javascript:;">{{translate 'content_label'}}</a></span></li>{{/if}}
<li id="feedback-technical-item" role="menuitem"><span><a title="{{translate 'report_technical_tooltip'}}" href="javascript:;">{{translate 'technical_label'}}</a></span></li>
<li id="feedback-suggest-feature-item" role="menuitem"><span><a title="{{translate 'suggest_feature_tooltip'}}" href="{{featureSuggestionUrl}}" target="_blank">{{translate 'suggest_feature_label'}}</a></span></li>
<li id="feedback-help-item" role="menuitem"><span><a title="{{translate 'help_tooltip'}}" href="{{helpPagesUrl}}" target="_blank">{{translate 'help_label'}}</a></span></li>
